<form [formGroup]="form" (ngSubmit)="onSubmit()" class="register-form">
  <!-- Email -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
    @if (form.controls.email.hasError('required')) {
    <mat-error>Email is required</mat-error>
    } @if (form.controls.email.hasError('email')) {
    <mat-error>Invalid email address</mat-error>
    }
  </mat-form-field>

  <!-- Password + Confirm -->
  <div formGroupName="passwords" class="form-row">
    <!-- Password -->
    <mat-form-field appearance="outline" class="half-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      @if (form.get('passwords.password')?.hasError('required')) {
      <mat-error>Password is required</mat-error>
      } @if (form.get('passwords.password')?.hasError('minlength')) {
      <mat-error> Password must be at least 6 characters </mat-error>
      }
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="outline" class="half-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirmPassword" />
      @if (form.get('passwords.confirmPassword')?.hasError('required')) {
      <mat-error> Confirm Password is required </mat-error>
      } @if (form.hasError('passwordMismatch')) {
      <mat-error> Passwords do not match </mat-error>
      }
    </mat-form-field>
  </div>

  <!-- Buttons -->
  <div class="form-actions">
    <button mat-stroked-button type="button" (click)="onReset()">Reset</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Sign up
    </button>
  </div>

  @if (errorMessage()) {
  <p class="error">
    {{ errorMessage() }}
  </p>
  }
</form>
